.contactSection1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--pageTopPadding);
    height: fit-content;
    overflow: hidden;
    position: relative;
    background-color: var(--white2);
}

.contactSection1 > img {
    position: absolute;
    width: 1200px;
    height: fit-content;
    z-index: 0;
    transform: scale(2.2);
    left: 200px;
    top: 260px
}

.contactSection1Inner {
    width: 100%;
    margin: 100px 0 100px 0;
    padding-left: var(--pageHorizontalPadding);
    padding-right: var(--pageHorizontalPadding);
}

.contactSection1Inner > h2 {
    color: var(--secondary);
    font-size: 34px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 2.66px;
    margin-bottom: 20px;
}

.contactSection1Inner > div {
    height: 70vh;
    width: 100%;
    background-color: var(--white);
    border-radius: 20px;
    display: flex;
    padding : var(--pageHorizontalPadding2);
    position: relative;
    z-index: 1;
}

.contactSection1Left {
    flex: 1;
}


.contactSection1Left > span {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.4px;
}

.contactSchedule {
    margin: 30px 0 30px 0
}

.contactSchedule span:nth-child(1) {
    color: var(--secondary);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.4px;
    padding: 6px;
    border-radius: 4px;
    background: rgba(255, 88, 0, 0.10);
}

.contactSchedule span:nth-child(2){
    color: rgba(0, 0, 0, 0.80);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.4px;
    margin-left: 20px;
}

.contactDetials {
    width: fit-content;
    height: 100px;
    background-color: var(--white2);
    border-radius: var(--borderRadius);
    padding: 20px
}

.contactDetials > span {
    color: rgba(0, 0, 0, 0.80);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.12px;
}

.contactDetials > div {
    display: flex;
    margin-top: 16px;
}

.contactDetialsWrapper {
    display: flex;
}

.contactDetialsWrapper:nth-child(2) {
    margin-left: 20px;
}

.contactDetialsWrapper img {
    width: 16px;
    height: 16px;
    padding: 5px;
    background-color: var(--secondary);
    box-sizing: content-box;
    border-radius: 4px;
}

.contactDetialsWrapper span {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 4px;
    margin-left: 6px;
}

.contactSection1Right {
    flex: 0.6;
}

.contactSection1Right img:nth-child(1){
    position: absolute;
    width: 250px;
    height: fit-content;
    right: 50px;
    border-radius: var(--borderRadius);
    border: 4px solid var(--white2);
    transform: translateY(0);
    transition: transform 0.4s ease-out;
    background-color: var(--white2);
}

.contactSection1Right img:nth-child(2){
    position: absolute;
    width: 200px;
    height: fit-content;
    border-radius: var(--borderRadius);
    border: 4px solid var(--white2);
    z-index: 0;
    box-shadow: 0px 0px 10px 4px rgba(0, 0,0, 0.20);
    top: 150px;
    transform: translateY(0);
    transition: transform 0.4s ease-out;
    background-color: var(--white2);
}

.contactSection1Right img:hover {
    transform: translateY(-20px);
    transition: transform 0.4s ease-out;
}


@media screen and (max-width: 1300px) {
    .contactSection1Inner {
        padding-left: 50px;
        padding-right: 50px;
        margin: 50px 0 50px 0;
    }

    .contactSection1Inner > h2 {
        font-size: 26px;
        margin-bottom: 10px;
    }

    .contactSection1Inner > div {
        padding: 30px;
    }

    .contactSection1Left > span {
        font-size: 17px;
    }

    .contactSchedule {
        margin: 30px 0 30px 0;
    }

    .contactSchedule span:nth-child(1){
        font-size: 14px;
    }

    .contactSchedule span:nth-child(2){
        font-size: 14px;
    }

    .contactDetials {
        padding: 12x;
    }

    .contactDetials > span {
        font-size: 14px;
    }

    .contactDetials > div {
        margin-top: 14px;
    }

    .contactDetialsWrapper span {
        font-size: 14px;
    }

    .contactSection1Right img:nth-child(1){
        width: 220px;
    }

    .contactSection1Right img:nth-child(2){
        width: 180px;
    }

}

@media screen and (max-width: 900px) {

    .contactSection1 > img {
        width: 900px;
        left: 300px
    }
    .contactSection1Inner {
        padding-left: 30px;
        padding-right: 30px;
    }

    .contactSection1Inner > h2 {
        font-size: 20px;
    }

    .contactSection1Inner > div {
        border-radius: 12px;
    }

    .contactSection1Right {
        flex: none
    }

    .contactSection1Right img:nth-child(1){
        right: -50px;
        display: none;
      
    }
    .contactSection1Right img:nth-child(2){
        right: -50px;
        z-index: -1;
        top: 60px;
        width: 210px;
   
    }
}


@media screen and (max-width: 650px) {
    .contactSection1Inner {
        padding-left: 20px;
        padding-right: 20px;
    }

    .contactSection1Inner > div {
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .contactSection1Inner > h2 {
        text-align: center;
    }

    .contactSection1Left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contactSection1Left > span {
        text-align: center;
        margin-bottom: 10px;
    }
    .contactSchedule {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 0 10px 0
    }

    .contactSchedule span:nth-child(2){
        margin-left: 0;
        margin-top: 10px;
        text-align: center;
    }

    .contactDetials {
        border-radius: 10px;
        width: 100%;
        margin-top: 20px;
    }
    .contactSection1Right{
        display: none;
   
    }

    .contactDetials {
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contactDetials > div {
        display: flex;
        flex-direction: column;
    }

    .contactDetialsWrapper:nth-child(2){
        margin-left: 0;
        margin-top: 10px;
    }
     .contactSection1 > img {
        width: 800px;
        left: 300px;
        top: 340px
    }
}

